html,
body,
ul,
p,
div,
span,
img,
form,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 720px;
  margin: 0 auto;
}
h1 {
  padding: 0.8em 0;
  margin-bottom: 0.8em;
  border-bottom: 1px solid #dcdcdc;
}
input[type="text"],
input[type="email"],
input[type="number"],
select,
textarea {
  display: block;
  width: 100%;
  padding: 0.5em;
}
button[type="submit"] {
  display: block;
  padding: 1em 3em;
  background: rgb(110, 105, 245);
  border: none;
  color: white;
  cursor: pointer;
}
.field-title {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5em;
}
textarea {
  min-height: 10vh;
}
.field-group {
  display: block;
  margin-bottom: 1.25em;
}

ul.errors {
  padding: 1em;
  margin-bottom: 1.25em;
  background: rgba(247, 112, 94, 0.2);
  border: 1px solid rgba(247, 112, 94, 0.5);
  list-style-position: inside;
  border-radius: 3px;
}
.success {
  padding: 1em;
  margin-bottom: 1.25em;
  background: rgba(143, 247, 94, 0.2);
  border: 1px solid rgba(143, 247, 94, 0.5);
  border-radius: 3px;
}
.success ul {
  list-style-position: inside;
  margin-top: 0.5em;
}
em {
  font-weight: bold;
}
.ideas {
  margin: 0.5em 0;
}
.ideas h2 {
  font-size: 1.15em;
}
.ideas h3 {
  font-size: 1.125em;
}
.ideas ul {
  list-style: none;
  margin: 0.5em 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 5px;
}
.ideas ul li img {
  display: block;
  max-width: 100%;
}
